#launch-platform {
    position: fixed;
    bottom: 2.5em;
    left: 0;
    right: 0;

    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.player-badge {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: .75em !important;
    border-radius: .1em;
    font-weight: bold;
    align-items: center;
    display: flex;
    height: 1.5em;
    padding: .5em;
    user-select: none;
}

.game-players {
    height: 15%;
    position: fixed;
    bottom: 0;
    background-color: rgb(1, 3, 67);
    border-color: 1px solid black;
    color: #f4f4f4;
}

.btn {
    background-color: rgb(84, 159, 245);
    color: wheat;
}

.score {
    background-color: var(--accent-color);
    height: 100vh;
    width: 9%;
    text-align: center;
}

.star {
    width: 2em;
    height: 2em;
    margin: 1em;
    user-select: none;
}

.display-question {
    background-color: var(--main-color);
    width: 100%;
    height: 40em;
}

.display-question p {
    width: 90%;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

code {
    font-family: monospace;
}

.divider {
    height: 100%;
    width: 25%
}

.modal-content {
    background-color: rgb(88, 160, 245);
    color: rgb(1, 3, 67);
}

.form-check-input:checked {
    background-color: rgb(1, 3, 67);
}


#gameboard {
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -7em;
    background-color: rgba(1, 3, 67, 0.671);
}