:root {
    --accent-color: rgba(1, 3, 67, 0.671);
    --main-color: rgb(103, 103, 103);
}

.background {
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(1, 3, 67, 0.671);
    width: 100vw;
    height: 100vh;
}

.controls{
    width: 80%;
    height: 50%;
    background-color: var(--accent-color);
    border-radius: 1em;
}

label{
    color: white;
    font-weight: bold;
}

.custom-btn{
    background-color: var(--accent-color);
    color: white;
}

#room-code{
    letter-spacing: .5em;
    font-weight: bold;
    font-size: 1.5em;
}