:root {
    --accent-color: rgba(1, 3, 67, 0.671);
    --main-color: rgb(103, 103, 103);
}

body {
    background-image: url('./public/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -0em;
}